:root {
    font-size: 18px;
    --gray30: #212121;
    --gray20: #212429;
    --gray10: #616161;
}
body {
    color: var(--gray30);
    font-family: 'Roboto', sans-serif;
}
a {
    color: var(--gray30);
}
header {
    font-size: 14px;
    color: var(--gray10);
}
header a {
    color: var(--gray10);
    text-decoration: none;
}
header a:hover {
    color: var(--gray30);
}
nav details summary {
    font-weight: bold;
}
h1 {
    font-size: 60px;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 24px;
}
h3::before {
    content: ;
}
h3::after {
    content: ;
}
pre {
    background: #FEC62E;
}
.hero {
    height: 350px;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.3), transparent), url(./images/pattern.png);
}