:root {
    font-size: 18px;
    --white30: white;
    --white20: #a5a3a5;
    --white10: #3a3539;
}
html {
    scroll-behavior: smooth;
}
body {
    color: var(--white30);
    font-family: 'Nunito', sans-serif;
    background: #251f24;
    margin: 0;
}
a {
    color: var(--white30);
}
p {
    color: var(--white20);
}
.main hr {
    display: none;
}

.header {
    margin-block-start: 20px;
}
.header-content {
    padding-inline: 20px;
}
/* header {
    position: absolute;
    font-size: 14px;
    inline-size: 188px;
    color: var(--white30);
    inset-block-start: 65px;
    inset-inline-start: -208px;
} */
header li {
    margin-block-end: 16px;
}

header a {
    color: var(--white20);
    text-decoration: none;
}
header li {
    color: var(--white20);
}
header a:hover {
    color: var(--white30);
}
nav details summary {
    font-weight: bold;
    line-height: 24px;
}
h1 {
    font-size: 40px;
    margin-block-start: 20px;
    margin-block-end: 16px;
    font-weight: normal;
}
hr {
    margin-block: 40px;
    border-color: 1px solid rgba(97, 97, 97, 0.2);
}
h2 {
    font-size: 2rem;
    margin-block: 40px;
    font-weight: normal;
}
h3 {
    font-size: 1.5rem;
    margin-block: 16px;
    font-weight: normal;
    position: sticky;
    top: 0;
}
.hero {
    block-size: 50px;
    background: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
}
.section-content ol li {
    line-height: 24px;
}
.section-content ul li {
    margin-bottom: 16px;
}
.section-content + hr {
    display: none;
}
.section-content img {
    margin-block-start: 40px;
    display: block;
    max-inline-size: 100%;
}
.section-content {
    counter-reset: titleList;
    margin-top: 64px;

}
.section-content:first-of-type {
    margin: 0;
}
.section-content h3 {
    position: relative;
    counter-increment: titleList;
    padding-bottom: 8px;
}
.section-content h3::before {
    content: counter(titleList, decimal) '. ';
}
.section-content h3::after {
    content: '';
    width: 80px;
    height: 4px;
    background-color: var(--white30);
    display: inline-block;
    position: absolute;
    left: 0;
    bottom: 0;
}
pre {
    background: var(--white10);
    padding: 40px;
    font-family: 'Nunito';
    line-height: 24px;
    overflow: auto;
    border-radius: 8px;
    border: 10px solid #5551ff;
    box-shadow: -10px 10px 0 0 #abaaf6;
    margin-block-end: 30px;
}
blockquote {
    font-size: 24px;
    margin-block-start: 80px;
    margin-block-end: 63px;
    padding: 24px;
    border-left: 4px solid var(--white30);
    background-color: var(--white10);
    line-height: 32px;
    border-radius: 8px;
}
blockquote p {
    color: var(--white30);
}
blockquote span {
    color: var(--white30);
}
blockquote span::before {
    content: '-';
}
.wrapper {
    max-inline-size: 902px;
    margin: auto;
}
main-content {
    padding: 20px;
    background: white;
}

.main-content {
    padding-inline: 16px;
}
.slider-container {
    /* block-size: 100px; */
    display: block;
    overflow: auto;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}
.video{

    margin: 0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
}
.slider-bullet-list {
    text-align: center;
    margin-block-start: 10px;
}
.slider-bullet {
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}
.form input {
    width: 100%;
    border: 1px solid var(--white30);
    background: #251f24;
    border-radius: 4px;
    padding-inline: 16px;
    padding-block: 12px;
    box-sizing: border-box;
    color: var(--white30);
    font-size: 16px;
    display: block;
    margin-block-end: 24px;
}
.form input[type="submit"] {
    background: #157efb;
    border: none;
}
.form input::placeholder {
    color: var(--white20);
}

@media screen and (min-width: 1366px) {
    .hero {
        block-size: 350px;
    }
    .header {
        position: sticky;
        inset-block-start: -45px;
    }
    .header-content {
        position: relative;
        inset-block-start: 65px;
        padding: 0;
    }
    header {
        position: absolute;
        font-size: 14px;
        inline-size: 188px;
        color: var(--white30);
        inset-block-start: 65px;
        inset-inline-start: -208px;
    }
    h1 {
        font-size: 60px;
        margin-block-start: 64px;
    }
    .form input {
        border-radius: 8px;
    }
}
